<h1><%= _('Administrator Panel') %></h1>
<h2><%= _('System settings') %></h2>

<ul class="admin-panel-items-list">

  <% for action in @system_settings_actions %>
    <%= link_to action.first do %>
      <li class="admin-panel-menu-item">
        <%= action.last %>
      </li>
    <% end %>
  <% end %>

</ul>

<h2><%= _('Profiles') %></h2>


<ul class="admin-panel-items-list">

  <% for action in @profiles_actions %>
    <%= link_to action.first do %>
      <li class="admin-panel-menu-item">
        <%= action.last %>
      </li>
      <% end %>
  <% end %>
</ul>


<% plugin_links = @plugins.dispatch(:admin_panel_links) %>

<% unless plugin_links.empty? %>

  <h2><%= _('Plugins') %></h2>
  <ul class="admin-panel-items-list">
  <% plugin_links.each do |link| %>
    <%= link_to link[:url] do %>
      <li class="admin-panel-menu-item"><%= link[:title] %></li>
    <% end %>
  <% end %>
  </ul>

<% end %>

<h2><%= _('Enterprise-related settings') %></h2>

<ul class="admin-panel-items-list">

  <% for action in @enterprise_settings_actions %>
    <%= link_to action.first do %>
      <li class="admin-panel-menu-item">
        <%= action.last %>
      </li>
      <% end %>
  <% end %>

</ul>
