<%= error_messages_for :submission %>

<%= form_for :submission, url: { controller: :internship,
                                 action: 'answer_form', id: form.identifier, , :checklist_id => params[:checklist_id], fga_internship_plugin_checklists: => fga_internship_plugin_checklists }, :html => { :class => 'query-form' } do |f| %>
  <% if !user %>
    <%= required labelled_form_field _('Name'), text_field_tag(:author_name, submission.author_name) %>
    <%= required labelled_form_field _('Email'), text_field_tag(:author_email, submission.author_email) %>
  <% end %>

  <%= render :partial => 'shared/form_submission',
             :locals => { form: form, submission: submission, f: f, checklist_id: params[:checklist_id], fga_internship_plugin_checklists: fga_internship_plugin_checklists } %>

  <div class="notify"><%= _("Your e-mail will be visible to this form's owners.") %></div>
  <%= button_bar do %>
    <% if form.expired? %>
      <%= submit_button :save, c_('Send'), disabled: '', class: 'disabled',
                        cancel: { controller: :profile, profile:  profile.identifier } %>
    <% else %>
      <%= submit_button :save, c_('Send'),
                        cancel: { controller: :profile, profile: profile.identifier } %>
    <% end %>
  <% end %>
<% end %>
